
html{
  font-size: .975em;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .left-panel, .right-panel {
    flex: 1 1 50%;
  }
  
  .left-panel {
    background-color: #EDEDE9;
    min-height: 100vh
  }
  

  input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}
.wyniki input{
  color:#1e1e1e ;
}
.switch-container label {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-container label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.switch-container input:checked + label {
  background: #6B705C;
}

.switch-container input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.switch{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 1em;
}
.switch-container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .switch-container span {
    margin-bottom: 15px;
    margin-left: 0.75em;
  }
  input[type='radio']{
    width: 17px;
    height: 17px;
}
  .switch {
    margin-top: 1em;
    margin-bottom: 10px;
  }
  .switch-container span{
    margin-top: 1em;
    font-size: 2em;
  }
 /* /////// */

  .dane{
    margin-top: 3em;
    margin-left: 1em;
  }
  .dane p{
    font-size: 2em;
    margin-bottom: 1em;
  }
  .dane input{
    font-size: 25px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: transparent;
    display: inline-block;
    margin-right: 3em;
  
  }
  .dane .plec{
    margin-top: 1.75em;
  }
  .plec label{
    font-size: 1em;
  }
  .raddioId{
    accent-color: black;
  }
  .raddioId input[type="radio"] {
    margin-right: 5px;
  }
  .wyniki{
    margin-left: 1em;
  }
  .wyniki p{
    margin-top: 1.75em;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  .wyniki input{
    font-size: 25px;
    border: none;
    border-bottom: 2px solid black;
    outline: none; /* opcjonalne - usuwa domyślne outline dla aktywnego elementu */
    background-color: transparent;
    display:block;
    margin-top: 1em;
  }
  .formula{
    margin-left: 1em;
  }
  .formula p{
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 1em;
  }
  .buttons{
    margin-top: 2em;
    margin-left: 1em;
  }
  .buttons button{
    font-size: 1.5em;
    margin-right: 1em;
  }
  #success{
    color: white;
    background-color: black;
    border: none;
    padding: .5rem 1rem;
  }
  #fail{
    background-color: transparent;
    color:black;
    border-color: black;
    padding: .5rem 1rem;
  }
  #fail:hover{
    background-color: #6B705C;
    color: white;
  }
.buttons button:hover{
  cursor: pointer;
}
.osprzet{
  margin-left: 3em;
  display: none;
}
.raddioId {
  display: flex;
  flex-wrap: wrap;
}
.wyniki p span{
  margin-left: 16.5em;
}
.wyniki input {
  display: block;
  margin-bottom: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.right-align {
  margin-left: 10em;
  margin-bottom: 7.37em;
}
#wagaL{
  margin-left: 1.5em;
}
#imieINazwiskoL{
  width:14em;
}
table {
  margin-left: 0.5em;
  margin-top: 0.5em;
  border-collapse: collapse;
  font-size: 2em;
  margin-bottom: 0.5em;
  width:98%;
}

tr{
  border-bottom: 2px solid black;
}
.headers th{
  font-weight: bold;
}
.headers th:not(:first-child){
  padding-left: 2em;
}
.headers th:first-child {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
.headers th:nth-child(2){
  padding-left: 0em;
}
.wynikiOsob td{
  padding-left: 2em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
.wynikiOsob td:first-child {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
.wynikiOsob td:nth-child(2){
  padding-left: 1em;
}
.wynikiOsob td:nth-child(3){
  padding-left: 4em;
}
.wynikiOsob td:nth-child(4){
  padding-left: 3.7em;
}
.wynikiOsob td:nth-child(5){
  padding-left: 3.5em;
}
.wynikiOsob td:nth-child(6){
  padding-left: 3em;
}
.wynikiOsob td:nth-child(7){
  padding-left: 3em;
}
.wynikiOsob td:nth-child(8){
  padding-left: 4em;
}
.wynikiZawodnika td{
 color:green;
 font-weight: bold;
 background-color: rgba(0, 255, 0, 0.05);
}

